@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 1600px) {
  .parchment-seal{
    margin-bottom: -120px;
    width: 15%;
  }
}

@media screen and (max-width: 1500px) {
  h1 {
    font-size: max(50px, 5.33vw);
  }
  
  h2 {
    font-size: max(35px, 3vw);
  }
  
  h3 {
    font-size: max(30px, 2.66vw);
  }
  
  h4 {
    font-size: max(25px, 2.33vw);
  }
  
  h5 {
    font-size: max(23px, 2vw);
  }
  
  h6 {
    font-size: max(20px, 1.66vw);
  }
  
  p {
    font-size: max(20px, 1.4vw);
  }
  .w-70vw-at1500{
    width: 70vw;
  }
  .w-40vw-at1500{
    width: 40vw;
  }
  .w-30vw-at1500{
    width: 30vw;
  }
  .w-20vw-at1500{
    width: 20vw;
  }
  .w-15vw-at1500{
    width: 15vw;
  }
  .w-10vw-at1500{
    width: 10vw;
  }
  .w-30p-at1500{
    width: 30%;
  }
  .mr--150--m{
    margin-right: 0;
  }
  .ml--60--m{
    margin-left: 0;
  }

  /* custom classes */
  .root-factor > div{
    gap: 0;
  }
  .root-factor > div > img{
    margin-right: -100px;
  }
  .parchment-seal{
    margin-bottom: -120px;
  }
}

@media screen and (max-width: 1400px) {
  .d-n-at1400{
    display: none;
  }
  .d-b-at1400{
    display: block;
  }

  /* custom classes */
  .root-factor > div > img{
    margin-right: -200px;
  }
  .parchment-seal{
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 1160px) {
  

  /* custom classes */
  .root-factor > div > img{
    margin-right: -250px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 1024px) {
  

  .root-factor > div > img{
    margin-right: -250px;
    margin-left: -200px;
  }
}

@media screen and (max-width: 900px) {
  
}

@media screen and (max-width: 768px) {
  .seccon, .seccon2{
    padding-top: 30px;
  }
  .bg-none-m {
    background-image: none;
  }
  .bg-hero {
    background-size: 250%;
  }
  .bg-gradient2{
    background-image: linear-gradient(to top, #E9E8ED 70%, #FFFFFF 100%);
  }
  .bg-parchment{
    background-image: url('../images/bg-mob-parchment.png');
  }
  .bg-darkblue-m{
    background-color: #0c1f3d;
  }
  .bg-darkblue2-m{
    background-color: #103a51;
    background-image: none;
  }
  .t-c-white-m{
    color: white;
  }
  .br-0-m{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  .fs-13-m{
    font-size: 13px;
  }
  .fs-15-m{
    font-size: 15px;
  }
  .fs-18-m{
    font-size: 18px;
  }
  .fs-20-m{
    font-size: 20px;
  }
  .fs-22-m{
    font-size: 22px;
  }
  .fs-23-m{
    font-size: 23px;
  }
  .fs-24-m{
    font-size: 24px;
  }
  .fs-25-m{
    font-size: 25px;
  }
  .fs-26-m{
    font-size: 26px;
  }
  .fs-28-m{
    font-size: 28px;
  }
  .fs-30-m{
    font-size: 30px;
  }
  .fs-32-m{
    font-size: 32px;
  }
  .fs-35-m{
    font-size: 35px;
  }
  .fw-800-m{
    font-weight: 800;
  }
  .j-c-c-m{
    justify-content: center;
  }
  .fd-c-m{
    flex-direction: column;
  }
  .fd-cr-m{
    flex-direction: column-reverse;
  }
  .t-a-c-m{
    text-align: center;
  }
  .a-i-c-m{
    align-items: center;
  }
  .d-b-m{
    display: block;
  }

  .d-i-m{
    display: inline;
  }
  .d-f-m{
    display: flex;
  }
  .d-ib-m{
    display: inline-block;
  }
  .d-n-m{
    display: none;
  }
  .gap-0-m{
    gap: 0;
  }
  .gap-5-m{
    gap: 5px;
  }
  .gap-20-m{
    gap: 20px;
  }
  .gap-10-m{
    gap: 10px;
  }
  .gap-20-m{
    gap: 20px;
  }
  .gap-30-m{
    gap: 30px;
  }
  .gap-40-m{
    gap: 40px;
  }
  .gap-50-m{
    gap: 50px;
  }
  .gap-70-m{
    gap: 70px;
  }
  .gap-100-m{
    gap: 100px;
  }
  .l-h-1-m{
    line-height: 1;
  }
  .l-h-1p2-m{
    line-height: 1.2;
  }
  .l-h-1p4-m{
    line-height: 1.4;
  }
  .w-100p-m{
    width: 100%;
  }
  .w-90p-m{
    width: 90%;
  }
  .w-12p-m{
    width: 12%;
  }
  .w-20p-m{
    width: 20%;
  }
  .w-37p-m{
    width: 37%;
  }
  .mx-w-100p-m{
    max-width: 100%;
  }
  .mx-w-100-m{
    max-width: 100px;
  }
  .mx-w-150-m{
    max-width: 150px;
  }
  .mx-w-500-m{
    max-width: 500px;
  }
  .m-0-auto-m{
    margin: 0 auto;
  }
  .m-20-auto-m{
    margin: 20px auto;
  }
  .b-t-3-blue-m{
    border-top: 3px solid #1391CE;
  }
  .mt--170-m{
    margin-top: -170px;
  }
  .mt--150-m{
    margin-top: -150px;
  }
  .mt--100-m{
    margin-top: -100px;
  }
  .mt--80-m{
    margin-top: -80px;
  }
  .mt--30-m{
    margin-top: -30px;
  }
  .mt-20-m{
    margin-top: 20px;
  }
  .mt-30-m{
    margin-top: 30px;
  }
  .mb-30{
    margin-bottom: 20px;
  }
  .mb--150-m{
    margin-bottom: -150px;
  }
  .mb--100-m{
    margin-bottom: -100px;
  }
  .mb--80-m{
    margin-bottom: -80px;
  }
  .mb--50-m{
    margin-bottom: -50px;
  }
  .mb--50-m{
    margin-bottom: -50px;
  }
  .mb--20-m{
    margin-bottom: -20px;
  }
  .mb-0-m{
    margin-bottom: 0;
  }
  .mb-10-m{
    margin-bottom: 10px;
  }
  .mb-20-m{
    margin-bottom: 20px;
  }
  .mb-30-m{
    margin-bottom: 30px;
  }
  .mb-120-m{
    margin-bottom: 120px;
  }
  .mb-150-m{
    margin-bottom: 150px;
  }
  .ml--30-m{
    margin-left: -30px;
  }
  .mr--20-m{
    margin-right: -20px;
  }
  .mlr-0-m{
    margin-left: 0;
    margin-right: 0;
  }
  .mlr-10-m{
    margin-left: 10px;
    margin-right: 10px;
  }
  .mlr-30-m{
    margin-left: 30px;
    margin-right: 30px;
  }
  .p-0-m{
    padding: 0;
  }
  .p-2p-m{
    padding: 2%;
  }
  .p-3p-m{
    padding: 3%;
  }
  .p-20-m{
    padding: 20px;
  }
  .p-30-m{
    padding: 30px;
  }
  .p-30-20-m{
    padding: 30px 20px;
  }
  .ptb-10-m {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-20-m {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-30-m {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .plr-0-m{
    padding-left: 0;
    padding-right: 0;
  }
  .plr-5-m{
    padding-left: 5px;
    padding-right: 5px;
  }
  .plr-10-m{
    padding-left: 10px;
    padding-right: 10px;
  }
  .plr-20-m{
    padding-left: 20px;
    padding-right: 20px;
  }
  .plr-30-m{
    padding-left: 30px;
    padding-right: 30px;
  }
  .plr-40-m{
    padding-left: 40px;
    padding-right: 40px;
  }
  .plr-50-m{
    padding-left: 50px;
    padding-right: 50px;
  }
  .plr-60-m{
    padding-left: 60px;
    padding-right: 60px;
  }
  .pt-0-m{
    padding-top: 0;
  }
  .pt-10-m{
    padding-top: 10px;
  }
  .pt-20-m{
    padding-top: 20px;
  }
  .pt-30-m{
    padding-top: 30px;
  }
  .pt-40-m{
    padding-top: 40px;
  }
  .pt-60-m{
    padding-top: 60px;
  }
  .pt-70-m{
    padding-top: 70px;
  }
  .pt-80-m{
    padding-top: 80px;
  }
  .pt-90-m{
    padding-top: 90px;
  }
  .pt-180-m{
    padding-top: 180px;
  }
  .pb-95vw-m {
    padding-bottom: 95vw;
  }
  .pb-120-m{
    padding-bottom: 120px;
  }
  .pb-220-m{
    padding-bottom: 220px;
  }
  .pb-520-m {
    padding-bottom: 520px;
  }
  .pb-0-m{
    padding-bottom: 0;
  }
  .pb-10-m{
    padding-bottom: 10px;
  }
  .pb-20-m{
    padding-bottom: 20px;
  }
  .pb-30-m{
    padding-bottom: 30px;
  }
  .pb-50-m{
    padding-bottom: 50px;
  }
  .pb-80-m{
    padding-bottom: 80px;
  }
  .pl-0-m{
    padding-left: 0;
  }
  .pl-10-m{
    padding-left: 10px;
  }
  .pl-30-m{
    padding-left: 30px;
  }

  /* sales section css */
  .sales-section{
    padding: 20px 10px;
  }
  .sales-content {
    flex-direction: column;
    gap: 10px;
  }
  .sales-offer:nth-of-type(1){
    max-width: 500px;
    order: 1;
  }
  .sales-offer:nth-of-type(1) > a > div:nth-of-type(1) > p:nth-of-type(1){
    margin-top: 10px;
  }
  .sales-offer:nth-of-type(2){
    order: 2;
  }
  .sales-offer:nth-of-type(3){
    order: 3;
  }
  .sales-offer:nth-of-type(3) > a > div:nth-of-type(1) > img{
    width: 70%;
  }
  .sales-offer {
    max-width: 500px;
    padding: 10px 10px;
  }
  .sales-offer:nth-of-type(1)::before {
    margin: -15px -15px 0;
  }
  .sales-offer > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sales-offer > a > div {
    width: 50%;
  }
  .sales-offer > a > div:nth-of-type(1) > p:nth-of-type(3){
    display: block;
  }
  .sales-offer > a > div:nth-of-type(2) > p:nth-of-type(2){
    display: none;
  }
  .sales-offer > a > div:nth-of-type(1) > p:nth-of-type(1){
    font-size: 35px;
  }
  .sales-offer > a > div:nth-of-type(1) > p:nth-of-type(2){
    font-size: 22px;
    margin-bottom: 10px;
  }
  .sales-offer > a > div:nth-of-type(1) > p:nth-of-type(3){
    font-size: 20px;
  }
  .sales-offer > a > div:nth-of-type(2) > p:nth-of-type(1){
    font-size: 60px;
  }
  .sales-offer > a > div:nth-of-type(2) > p:nth-of-type(1) > span{
    font-size: 20px;
  }
  .sales-offer:nth-of-type(3) > div > div:nth-of-type(1) > img{
    width: 40%;
  }
  .sales-adds{
    margin-top: 0;
  }
  .sales-adds > div {
    padding: 2px 10px;
	}
  .sales-adds > div > p{
    font-size: 12px;
  }
  .sales-adds > div > img{
    width: 10%;
	}
  .sales-shipping > p {
    font-size: 15px;
  }

  /* sales section css end */


  /* testimonials css */
  
  .s7tbx, .s7tbx2 {
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
  }
  .s7tbx2 {
    padding: 0 0 0 0;
  }
  .s7tbx-nmmob {
    position: relative;
    padding: 0 0 32px 86px;
  }
  .s7ttxt2, .s7ttxt3 {
    font-size: 17px;
    line-height: 27px;
  }
  .s7timg {
    width: 70px;
    max-height: 70px;
    max-width: 70px;
    top: 5px;
  }
  .s7thding {
    font-size: 17px;
    line-height: 28px;
    margin-top: 4px;
  }

  /* testimonials css */


  /* custom css */
  .root-factor > div > img{
    margin-right: 0;
    margin-left: 0;
  }

  .ingredients-list{
    gap: 10px;
  }

  .ingredients-list > div{
    max-width: 48%;
  }

  .ingredients-list > div:nth-of-type(7){
    max-width: 48%;
    margin-left: 0;
  }
  
  .ingredients-list > div:nth-of-type(8){
    max-width: 48%;
    margin-right: 0;
  }

  .ingredients-list > div > div{
    gap: 10px;
  }

  .ingredients-list > div > div:not(:first-child) > img{
    width: 10%;
  }

  .ingredients-list p{
    font-size: 15px;
  }
  
  .parchment-seal{
    margin-bottom: -90px;
    width: 150px;
  }
  
  .faq > li{
    gap: 10px;
  }

  .faq > li{
    font-size: 14px;
  }

  .faq > li > span{
    margin-left: 0;
    font-size: 14px;
  }

}

@media screen and (max-width: 425px) {
  .red-badge {
    background-color: #f1170e;
    color: #fff;
    transform: rotate(15deg);
    position: absolute;
    right: 0;
    top: -14px;
    height: 60px;
    width: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0 0 0;
  }
}

@media screen and (max-width: 390px) {
  .seccon, .seccon2{
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .plr-0-m{
    padding-left: 0;
    padding-right: 0;
  }
  .bg-hero {
    background-position: bottom left -320px;
  }
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}