body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}

    /* design text */
u{
    text-decoration-skip-ink: none;
}
a{
    text-decoration: none;
}
.link-white a{
    color: #F2E5DD;
}
a:hover{
    color: black;
    opacity: 0.9;
    text-decoration: none;
}
.bg-v-1 {
    color: #002659;
}
.under-style{
    text-decoration: 8px solid;
    text-decoration-line: underline;
    text-decoration-color: #F0D1DF;
}
.under-style-2{
    text-decoration: 10px solid;
    text-decoration-line: underline;
    text-decoration-color: #F0D1DF;
}
h1, h2, p{
   margin-bottom: 0px;
}
mark{
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.mark{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.underline{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.strikethrough {
    position: relative;
  }
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-color: #FF4B4B;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

    /* font-family */

.i-r {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.am-b {
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
}
.am-xb {
    font-family: 'Arima Madurai', cursive;
    font-weight: 800;
}
.n-r {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.n-i {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.n-b {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.n-m {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.n-eb {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.mon-b {
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
}
.mon-b-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.mon-sb{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.o-p-b {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.o-p-r {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.o-p-xb {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.fs-b {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}
.r-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.r-m {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.r-b {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.r-sb {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.r-xb {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.b-n {
    border: none;
}
@font-face {
    font-family: 'HelveticaComp';
    src: url(../fonts/Helvetica-Compressed.otf);
    
}
.ff-HelveticaComp {
    font-family: 'HelveticaComp';
    font-weight: 500;
    
}
.fw-500 {
    font-weight: 500;
}




    /* display */

.d-f{
    display: flex;
}
.d-n{
    display: none;
}
.d-b{
    display: block;
}


    /* font-color */
.white{
    color: white;
}
.red{
    color: #F53636;
}

.black{
    color: #000;
}
.purple{
    color: #A05993;
}
.dark-purple{
    color:#991C5D;
}
.brown{
    color: #C36F66;
}
.gray {
    color: #242424;
}
.d-blue {
    color:#2E5480 ;
}
.dbg-blue {
    background-color:#2E5480 ;
}
.dbg-blue-1 {
    color: #3A74B6;
}
.db-blue-4 {
    background-color:  #00ABEB;;
}
.db-blue-5 {
    background-color: #E5EFF6;
}
.lb--24 {
    color: #00ABEB;
}
.u-lined-blue {
    text-decoration: 2px solid;
    text-decoration-line: underline;
    text-decoration-color: #2E5480;
}
.u-lined-blue-1 {
    text-decoration: 8px solid;
    text-decoration-line: underline;
    text-decoration-color: #CBE9FA;
}


    /* text align */
.t-a-c{
    text-align: center;
}
.t-a-ed{
    text-align: end;
}
.t-a-s{
    text-align: start;
}
    /* justify content */

.j-c-c{
    justify-content: center;
}
.j-c-sb{
    justify-content: space-between;
}
.j-c-e{
    justify-content: end;
}
.j-c-sa{
    justify-content: space-around;
}
.j-c-ev{
    justify-content: space-evenly;
}

    /* align item */

.a-i-c{
    align-items: center;
}
.a-i-e{
    align-items: end;
}
.a-i-s{
    align-items: start;
}
.a-s-e{
    align-self: end;
}
    /* section-spacer */

.spacer{
    height: 30px;
}

    /* background color*/
.bg-dash{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #0D61A1 0%,#0e3e75 50%, transparent 50%);
    background-size: 20px 1px;
    background-repeat: repeat-x;
}
.sales-bg-linear{
    background-image: linear-gradient(to bottom, #9ED5BA, #5AB5AD);
}
.bg-none{
    background-color: transparent;
}
.bg-white{
    background-color: #fff;
}
.bg-white-1{
    background-color: rgb(255,255,255,0.2);
}
.bg-black{
    background-color: black;
}
.bg-dark-blue{
    background-color:#6195C7;
}
.bg-blue{
    background-color:#5FA3DA;
}
.bg-blue-1{
    background-color:#70ACE0;
}
.bg-purple-1{
    background-color: #991C5D;
}
.bg-pink{
    background-color: #F1DDE2;
}
.bg-sky-blue {
    background-color: #CBE9FA;
}
.bg-sky-blue-1 {
    background-color: #CBE9FA;
}
.bg-peach-2 {
    background-color: rgba(186, 236, 255, 1);
}
.bg-g1 {
    background-color: #F5F7FB;;
}
.fc-g1 {
    color: #F5F7FB;;
}
.bg-db {
    background: #11274C;
}
.fc-db {
    color: #11274C;
}
.fc-peach-2 {
    color: #F2E5DD;
}
.fc-yellow {
    color:rgba(255, 240, 0, 1);
}
.fc-gray {
    color:#9A9A9A;
}
.fc-red {
    color: rgba(255, 0, 0, 1);
}
.bl-col {
    color: #CBE9FA;
}
.bg-l-b-1 {
    background-color: #F8FBFE;
    box-shadow: 2px 5px 14px 0px #00000029;
}
.bg-l-b-2 {
    background-color: #F8FBFE; 
}
.b-s {
    box-shadow: 2px 5px 14px 0px #00000029;
}
/* .bg-l-b-2 {
    background-color: #F8FBFE;
} */
.bg-linear-blue{
    background-image: linear-gradient(to right, #CBE9FA 88%, #FFFFFF);
}
.bg-linear-blue-5{
    background-image: linear-gradient(89deg, #CBE9FA 50%, #FFFFFF 120%);
}
.bg-linear-blue-3{
    background-image: linear-gradient(89deg, #CBE9FA 60%, #FFFFFF );
}
.bg-linear-blue-1{
    background-image: linear-gradient(to right, #FFFFFF -30%, #CBE9FA 88%);
}
.bg-linear-brw{
    background-image: linear-gradient(to right, #F1DDE2 88%, #FFFFFF);
}
.bg-linear-brw3{
    background-image: linear-gradient(to right, #FFFFFF, #F1DDE2 88%);
}
.bg-linear-brw1{
    background-image:  url(../img/Artboard-2/flower-plate.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 38%;
}
.bg-linear-brw2{
    background-image: linear-gradient(to right, #CBE9FA 30%, #FFFFFF);
    background-repeat: no-repeat;
}
.bg-orange{
    background-color: 	
    #FFE9D6;
}
.bg-light-blue {
    background-color: #EDF1F8;
  }
.bg-lg-col {
    background-image: linear-gradient(180deg, #EDF1F8 30%, #FFFFFF);
}
.bg-lg-col-bl {
    background-image: linear-gradient(89deg, #EDF1F8 50%, #70ACE0 120%);
}
.bg-lg-col-1 {
    background-image: linear-gradient(88deg, #EDF1F8 60%, #FFFFFF 120%);
}
.bg-light-blue-1 {
    background-color: #70ACE0;
}
.fc-lb-3 {
    color:#70ACE0 ;
}
.fc-lb-4 {
    color: rgba(0, 171, 235, 1);
}
.dg-b {
    color: #1B2623;
}
.bg-lb-4 {
    background-color: rgba(0, 171, 235, 1);
}
.bg-d-blue-1{
    background-color: #3A74B6;
}
.bg-d-blue-2 {
    background-color: #5EB0E2;
}
.border-line-1{
    border: 1px solid#5FA3DA;
}



/* font-size */
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.fs-15{
    font-size: 15px;
}
.fs-19{
    font-size: 19px;
}

.fs-17{
    font-size: 17px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px
}
.fs-21{
    font-size: 23px
}
.fs-22{
    font-size: 22px;
}
.fs-23{
    font-size: 23px;
}
.fs-23-1{
    font-size: 23px;
}
.fs-24{
    font-size: 24px;
}
.fs-25{
    font-size: 25px;
}
.fs-26{
    font-size: 26px;
}
.fs-27{
    font-size: 27px;
}
.fs-28{
    font-size: 28px;
}
.fs-29{
    font-size: 29px;
}
.fs-30{
    font-size: 30px;
}
.fs-34{
    font-size: 34px;
}

.fs-40{
    font-size: 40px;
}
.fs-42{
    font-size: 42px;
}
.fs-45{
    font-size: 45px;
}
.fs-35{
    font-size: 35px;
}
.fs-65{
    font-size: 65px;
}
.fs-50{
    font-size: 50px;
}
.fs-55{
    font-size: 55px;
}
.fs-75{
    font-size: 75px;
}
.fs-80{
    font-size: 80px;
}

.fs-100{
    font-size: 100px;
}

    /* font-weight */
.fw-600{
    font-weight: 600;
}
    /* max width  */
.mw-1920{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.mw-1440{
    max-width: 1440px;
    margin: 0px auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-1140{
    max-width: 1140px;
    margin: 0px auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-1400{
    max-width: 1480px;
    margin: 0px auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-1250{
    max-width: 1250px;
}
.mw-1350{
    max-width: 1350px;
}
.mw-1050{
    max-width: 1050px;
}
.mw-1000{
    max-width: 1000px;
    margin: 0px auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-1004{
    max-width: 1000px;
    margin: 0px auto;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-936{
    max-width: 1020px;
    margin: 0px auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.mw-945{
    max-width: 945px;
}
.mw-910{
    max-width: 910px;
}
.mw-900-01{
    max-width: 900px;
}
.mw-960{
    max-width: 960px;
}
.mw-968{
    max-width: 968px;
}
.mw-980{
    max-width: 980px;
}
.mw-975{
    max-width: 975px;
}
.mw-930{
    max-width: 930px;
}
.mw-900{
    max-width: 950px;
}
.mw-899{
    max-width: 899px;
} 
.mw-895{
    max-width: 895px;
}
.mw-890{
    max-width: 890px;
}
.mw-875{
    max-width: 875px;
}
.mw-870{
    max-width: 870px;
}
.mw-860{
    max-width: 860px;
}
.mw-850{
    max-width: 850px;
}
.mw-840{
    max-width: 840px;
}
.mw-845{
    max-width: 845px;
}
.mw-836{
    max-width: 836px;
}
.mw-830{
    max-width: 830px;
}
.mw-815{
    max-width: 830px;
}
.mw-820{
    max-width: 820px;
}
.mw-800{
    max-width: 800px;
}
.mw-805{
    max-width: 780px;
}
.mw-796{
    max-width: 796px;
}
.mw-795{
    max-width: 795px;
}
.mw-770{
    max-width: 770px;
}
.mw-780{
    max-width: 780px;
}
.mw-788{
    max-width: 788px;
}
.mw-777{
    max-width: 777px;
}
.mw-760{
    max-width: 760px;
}
.mw-766{
    max-width: 766px;
}
.mw-768{
    max-width: 768px;
}
.mw-750{
    max-width: 750px;
}
.mw-790{
    max-width: 790px;
}
.mw-755{
    max-width: 755px;
}
.mw-738{
    max-width: 738px;
}
.mw-735{
    max-width: 735px;
}
.mw-730{
    max-width: 730px;
}
.mw-720{
    max-width: 720px;
}
.mw-680{
    max-width: 680px;
}
.mw-666{
    max-width: 666px;
}
.mw-660{
    max-width: 660px;
}
.mw-677{
    max-width: 677px;
}
.mw-670{
    max-width: 670px;
}
.mw-650{
    max-width: 650px;
}
.mw-645{
    max-width: 645px;
}
.mw-640{
    max-width: 640px;
}
.mw-627{
    max-width: 627px;
}
.mw-625{
    max-width: 625px;
}
.mw-615{
    max-width: 615px;
}
.mw-610{
    max-width: 610px;
}
.mw-748{
    max-width: 748px;
}
.mw-745{
    max-width: 745px;
} 
.mw-724-1{
    max-width: 724px;
}
.mw-713{
    max-width: 748px;
}
.mw-715{
    max-width: 715px;
}
.mw-710{
    max-width: 710px;
}
.mw-705{
    max-width: 705px;
}
.mw-700{
    max-width: 700px;
}
.mw-692{
    max-width: 692px;
}
.mw-682{
    max-width: 682px;
}
.mw-651{
    max-width: 651px;
}
.mw-661{
    max-width: 661px;
}
.mw-635{
    max-width: 635px;
}
.mw-632{
    max-width: 632px;
}
.mw-630{
    max-width: 630px;
}
.mw-620{
    max-width: 620px;
}
.mw-650{
    max-width: 650px;
}
.mw-602{
    max-width: 602px;
}
.mw-600{
    max-width: 600px;
}
.mw-605{
    max-width: 605px;
}
.mw-633{
    max-width: 633px;
}
.mw-571{
    max-width: 571px;
}
.mw-575{
    max-width: 571px;
}
.mw-588{
    max-width: 588px;
}
.mw-590{
    max-width: 590px;
}
.mw-593{
    max-width: 590px;
}
.mw-582{
    max-width: 582px;
}
.mw-580{
    max-width: 580px;
}
.mw-585{
    max-width: 585px;
}
.mw-551{
    max-width: 551px;
}
.mw-560{
    max-width: 560px;
}
.mw-565{
    max-width: 565px;
}
.mw-555{
    max-width: 555px;
}
.mw-550{
    max-width: 550px;
}
.mw-548{
    max-width: 548px;
}
.mw-545{
    max-width: 545px;
}
.mw-538{
    max-width: 538px;
}
.mw-530{
    max-width: 530px;
}
.mw-535{
    max-width: 535px;
}
.mw-537{
    max-width: 537px;
}
.mw-526{
    max-width: 526px;
}
.mw-520{
    max-width: 520px;
}
.mw-529{
    max-width: 529px;
}
.mw-522{
    max-width: 522px;
}
.mw-515{
    max-width: 515px;
}
.mw-502{
    max-width: 502px;
}
.mw-510{
    max-width: 510px;
}
.mw-500{
    max-width: 500px;
}
.mw-540{
    max-width: 540px;
}
.mw-493{
    max-width: 493px;
}
.mw-487{
    max-width: 487px;
}
.mw-478{
    max-width: 478px;
}
.mw-484{
    max-width: 484px;
}
.mw-480{
    max-width: 480px;
}
.mw-465{
    max-width: 465px;
}
.mw-479{
    max-width: 479px;
}

.mw-440{
    max-width: 440px;
}
.mw-430{
    max-width: 430px;
}
.mw-437{
    max-width: 437px;
}
.mw-420{
    max-width: 420px;
}
.mw-418{
    max-width: 418px;
}
.mw-417{
    max-width: 417px;
}
.mw-450{
    max-width: 450px;
}
.mw-444{
    max-width: 444px;
}
.mw-440{
    max-width: 440px;
}
.mw-413{
    max-width: 413px;
}
.mw-425{
    max-width: 425px;
}
.mw-405{
    max-width: 405px;
}
.mw-400{
    max-width: 400px;
}
.mw-390{
    max-width: 390px;
}
.mw-395{
    max-width: 395px;
}
.mw-380{
    max-width: 380px;
}
.mw-378{
    max-width: 378px;
}
.mw-370{
    max-width: 370px;
}
.mw-384{
    max-width: 384px;
}
.mw-358{
    max-width: 358px;
}
.mw-350{
    max-width: 350px;
}
.mw-343{
    max-width: 343px;
}
.mw-340{
    max-width: 340px;
}
.mw-345{
    max-width: 345px;
}
.mw-335{
    max-width: 335px;
}
.mw-334{
    max-width: 334px;
}
.mw-330{
    max-width: 330px;
}
.mw-325{
    max-width: 325px;
}
.mw-320{
    max-width: 320px;
}
.mw-310{
    max-width: 310px;
}
.mw-300{
    max-width: 300px;
}
.mw-280{
    max-width: 280px;
}
.mw-285{
    max-width: 285px;
}
.mw-298{
    max-width: 298px;
}
.mw-290{
    max-width: 290px;
}
.mw-260{
    max-width: 260px;
}
.mw-245{
    max-width: 245px;
}
.mw-230{
    max-width: 230px;
}
.mw-251{
    max-width: 251px;
}
.mw-249{
    max-width: 249px;
}
.mw-250{
    max-width: 250px;
}
.mw-233{
    max-width: 233px;
}
.mw-219 {
    max-width: 225px;
}
.mw-179{
    max-width: 179px;
}
.mw-5{
    max-width: 5px;
}
.mw-32 {
    max-width: 32px;
}
.mw-25 {
    max-width: 25px;
}
.mw-49 {
    max-width: 49px;
}

.mw-fit{
    max-width: fit-content;
}



    /* width */
.w-60{
    width: 60%;
}
.w-10{
    width: 10%;
}
.w-111{
    width: 111%;
}
.w-100{
    width: 100%;
}
.w-102{
    width: 102%;
}
.w-101{
    width: 101.5%;
}
.w-106{
    width: 106%;
}
.w-110{
    width: 110%;
}
.w-90{
    width: 90%;
}
.w-98{
    width: 98%;
}




    /* section-padding */

.header-pads{
    padding: 20px 85px 20px 157px;
}
.footer-pads{
    padding: 30px 200px 50px 200px;
}
.sales-pads{
    padding: 30px 150px 30px 150px;
}

.sec-pads{
    padding: 0 180px;
}
.sec-pads-1{
    padding: 30px 200px;
}


    /* inner-padding */

.inner-pads{
    padding: 20px;
}
.inner-pads-20{
    padding: 0px 20px 20px 20px;
}
.inner-pads-30{
    padding: 30px;
}
.inner-pads-35{
    padding: 35px;
}
.inner-pads-1{
    padding: 60px 90px;
}
.inner-pads-2{
    padding: 30px 30px 77px 30px;
}
.inner-pads-3{
    padding: 0px 90px;
}
.inner-pads-4{
    padding: 30px 50px 30px 90px;
}
.inner-pads-5 {
    padding: 15px;
}
.inner-pads-6{
    padding: 90px;
}
.inner-pads-7{
    padding: 5px;
}
.inner-pads-8{
    padding: 20px 0px 0px 0px;
}
.inner-pads-9{
    padding: 50px;
}
.inner-pads-10{
    padding: 45px 0px;
}
.inner-pads-11{
    padding: 35px 0px;
}
.inner-pads-12{
    padding: 45px;
}

.inner-pads-70{
    padding: 0px 70px;
}
.inner-pads-50-30{
    padding: 45px 30px;
}
.inner-pads-50-30-1 {
    padding: 45px 35px;
}
.inner-pads-50-20{
    padding: 45px 20px;
}
    /* padding */
.p-10{
    padding: 10px;
}
.p-18{
    padding: 18px;
}
.p-10-1{
    padding: 0px 10px;
}
.p-10-2{
    padding: 0px 5px;
}
.p-10-3{
    padding: 0px 10px;
}
.p-10-50{
    padding: 10px 50px 10px 50px;
}
.p-50-20 {
    padding: 50px 20px;
}
.p-35-50 {
    padding: 35px 50px;
}
.p-52-28-49{
    padding: 70px 28px 49px 28px;
}
.p-52-28-21{
    padding: 70px 28px 46px 28px;
}
.p-52-28-21-1{
    padding: 100px 28px 40px 28px;
}
.p-52-28-21-2{
    padding: 100px 28px 12px 28px;
}

.pb-280{
    padding-bottom: 250px;
}
.p-6{
    padding: 10px 20px;
}
.p-26-71{
    padding:26px 0px;
}
.p-20{
    padding: 20px;
}
.p-23{
    padding: 23px;
}
.p-20-35{
    padding: 20px 35px;
}
.p-10-12{
    padding: 25px 36px;
}
.p-10-13{
    padding: 25px 34px;
}
.p-17-18{
    padding: 17px 18px;
}
.pt-30{
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}

/* gap */
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}

.gap-40{
    gap: 40px;
}
.gap-37{
    gap: 37px;
}
.gap-50{
    gap: 50px;
}
.gap-60{
    gap: 60px;
}
.gap-90{
    gap: 90px;
}
.gap-30{
    gap: 30px;
}
    /* margins */
.mar-auto{
    margin-left: auto;
    margin-right: auto;
}
.marl-auto{
    margin-left: auto;
}
.marl--20{
    margin-left: -20px;
}
.mrl--10{
    margin-left: -10px;
    margin-right: -10px;
}
.mrl--75{
    margin-left: -75px;
    margin-right: -55px;
}
.mr--75{
    margin-right: -75px;
}
.mr--15{
    margin-right: -15px;
}
.mr--25{
    margin-right: -25px;
}
.mr-50{
    margin-right: 50px;
}
.ml--75{
    margin-left: -87px;
}
.ml--60{
    margin-left: 60px;
}
.ml--25{
    margin-left: -25px;
}
.ml-10{
    margin-left: 7px;
}
.ml--15 {
    margin-left: -15px;
}
.ml-50 {
    margin-left: 50px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-95 {
    margin-left: 100px;
}
.mt-10{
    margin-top: 10px;
}
.mt-50{
    margin-top: 50px;
}
.mt--280{
    margin-top: -280px;
}
.mt--220{
    margin-top: -220px;
}
.mt--420{
    margin-top: -560px;
}
.mt--120{
    margin-top: -120px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt--60{
    margin-top: -80px;
}
.mt--60-1{
    margin-top: -60px;
}
.mt-40{
    margin-top: 40px;
}
.mt--10{
    margin-top: -10px;
}
.mt--20{
    margin-top: -20px;
}
.mt--30{
    margin-top: -30px;
}
.mt--40{
    margin-top: -40px;
}
.mt--50{
    margin-top: -50px;
}
.mt--50-1{
    margin-top: -50px;
}
.mt--92{
    margin-top: -105px;
}
.mt--92-1{
    margin-top: -130px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb--30 {
    margin-bottom: -30px;
}
.mb--20 {
    margin-bottom: -20px;
}


    /* border radius */
.br-tr{
    border-radius: 30px 30px 0px 0px;
}
.br-top{
    border-radius: 15px 0px 0px 0px;
}
.br-all-25{
    border-radius: 25px;
}
.br-all-50{
    border-radius: 50px;
}
.br-35{
    border-radius: 35px;
}
.br-35-t{
    border-radius: 35px 35px 0px 0px;
}
.br-35-b{
    border-radius: 0px 0px 35px 35px;
}
.br-15{
    border-radius: 15px;
}
.br-25{
    border-radius: 25px;
}
.br-10{
    border-radius: 10px;
}
.br-10-1{
    border-radius: 10px 10px 0px 0px;
}
.br-5{
    border-radius: 5px;
}
.br-10-s{
    border-radius: 10px;
    background: transparent url('img/Rectangle 52.png') 0% 0% no-repeat padding-box;
   
}
.bl-black {
    border: 1px solid rgba(0, 0, 0, 1);
}
.br-all{
    border-radius: 30px;
}
.br-bl{
    border-radius: 0px 0px 30px 30px;
}

.bord-mark{
    border-radius: 0.8em 0.3em;
}

    /* border */
.bord-all{
    border: 1px solid rgb(5, 97, 86, 0.2);
}
.bord-all-blue{
    border: 1px solid #3A74B6;
}
.bord-top{
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}
.bord-top-1{
    border-top: 1px solid #B4D4ED;
}
.bord-all-black{
    border: 1px solid rgb(0, 0, 0, 0.6);
}
.bord-right{
    border-right: 1px solid #fff;
}
.bord-all-b{
    border: 1px solid #2B2B2B;
}
.bord-b{
    overflow: hidden;
    position: relative;
}


    /* positioning */
.p-r{
    position: relative;
}
.z-index-2 {
    z-index: 2;
}
.z-index-1 {
    z-index: 1;
}


/* line-height */

.lh-120-p{
    line-height: 130%;
}
.lh-120-p-1{
    line-height: 120%;
}
.lh-140-p{
    line-height: 140%;
}

/* other */
.fdc{
    flex-direction: column;
}
.f-1{
    flex: 1;
}
.fl-auto{
    flex: 1 0 auto;
}

.fl-w{
    flex-wrap: wrap;
}
.w-b{
    word-break: break-all;
}
.br-n br{
    display: none;
}
.rot--5{
    -ms-transform: rotate(-5deg); /* IE 9 */
    transform: rotate(-5deg);
}

/* sales */
.cp-center-1 {
    clip-path: polygon(0 0, 100% 0, 100% 74%, 97% 80%, 52% 100%, 50% 100%, 2% 80%, 0 74%);
}
.cp-center{
    clip-path: polygon(100% 0, 100% 80%, 49% 100%, 0 81%, 0 0);
}
.w-31{
    width: 32%;
}
.w-33{
    width: 33%;
}
.br-n-sm br{
    display: none;
}
.bg-purple{
    background-color: #A05993;
}
.bg-purple-1{
    background-color: #991C5D;
}
.br-n-sm br{
    display: none;
}
.h-200{
    height: 200px;
}
.h-175{
    height: 175px;
}
.h-185{
    height: 180px;
}
.h-150{
    height: 150px;
}
.h-270{
    height: 200px;
}
.h-100{
    height: 100%;
}
.h-84 {
    height: 84px;
}
.h-90 {
    height: 90px;
}
.h-95 {
    height: 95px;
}
.h-75 {
    height: 75px!important;
}
.h-101 {
    height: 101px;
}
.u-n-m u{
    display: none;
}